
*{margin: 0px;
padding: 0px;}
body{
	background-color: gray;
	font-family: Helvetica,Arial;
}
ul{
	list-style: none;
	font-style: bold;
}
.enunciado{
	font-size: 1.2em;
	background-color: white;
	border-radius: 10px;
	width:100%;
}
.elegido{
	font-size: 1.2em;
	border-radius: 10px;
	background-color: white;
}
#contenedor{
	width: 800px;
	height: auto;
	border-style: solid;
	border-color: brown;
	margin: 10% 15%; 
	border-radius: 10px;
}
#cabecera{
	background-color: pink;
	color: brown;
	margin: 10px 10px;
	border-radius: 10px;
}
#menu{
	width: 150px;
	float: left;
	background-color: skyblue;
	color: white;
	padding: 10px 10px;
	margin: 0 10px;
	border-radius: 10px;
}
#contenido{
	width: 70%;
	float: left;
	padding: 5px 5px;
}
#pie{
	text-align: center;
	clear: both;
   background-color:#cccccc;
   border-radius: 10px;
}
.cleare{
	width: 70%;
	height: auto;
	clear: both;
	background-color: gray;
	align-content: center;
	border-radius: 10px;
	margin: 0px 0px;
	padding: 5% 15%
}
.filacolor{
	background-color: yellow;
	border-style: solid;
	border-color: black;
}
.fila{
	border-style: solid;
	border-color: black;
	background-color: white;
}
.casilla-negra{
	background-color: black;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
}
.casilla{
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: white;
}
.casillaimg{

	float: left;
	width: 70px;
	height: 70px;
	background-color: white;
	margin: 5px;
}

